.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 세로 중앙 */
  align-items: center; /* 가로 중앙 */
  height: 70vh; /* 화면 전체 높이 */
  text-align: center;
}

.wrapper h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.wrapper img {
  margin: 20px 0;
}

.wrapper a {
  margin: 10px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease;
  width: 100%;
}

.wrapper a:first-of-type {
  color: white;
  padding: 25px 10px;
  background-color: #0099b0;
}

.wrapper a:first-of-type:hover {
  background-color: #0099b0;
}

.wrapper a:last-of-type {
  color: white;
  padding: 25px 10px; /* 추가 */
  background-color: #333;
}

.wrapper a:last-of-type:hover {
  background-color: #ff9d33;
}
